<link rel="stylesheet" href="/static/Css/modal_agendamento_ambiente.css">

<div id="modal-agendamento" class="modal-agendamento">
    <div class="modal-box">

        <button class="close" onclick="fecharModalAgendamento()">×</button>
          <h2 id="titulo-modal">Novo Agendamento</h2>
        <form id="form-agendamento">
          <input type="hidden" id="ambiente_id" name="ambiente_id">

            <label>Data</label>
            <input type="date" id="ambiente-data" required>

            <div class="horarios">
                <div>
                    <label>Horário Início</label>
                    <input type="time" id="ambiente-hora_inicio" required>
                </div>
                <div>
                    <label>Horário Fim</label>
                    <input type="time" id="ambiente-hora_fim" required>
                </div>
            </div>

            <label>Finalidade</label>
            <textarea
                id="ambiente-finalidade"
                placeholder="Descreva o objetivo do agendamento"
                required>
            </textarea>

            <div class="acoes">
                <button type="button" class="btn-cancelar" onclick="fecharModalAgendamento()">
                    Cancelar
                </button>
                <button type="submit" class="btn-confirmar">
                    Confirmar Agendamento
                </button>
            </div>
        </form>

    </div>
</div>


<script src="/static/Javascript/agendamentos_ambientes.js"></script>