  
  <link rel="stylesheet" href="/static/Css/modal_detalhes_ambiente.css">
  <div id="modal-detalhes-ambiente" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModalDetalhesAmbiente()">x</span>

            <img id="md-imagem" style="width:100%; height:200px; object-fit:cover; border-radius:6px;">

            <h2 id="md-nome"></h2>
            

            <div class="info">
                <p><strong>Status:</strong> <span id="md-status"></span></p>
                <p><strong>Capacidade:</strong> <span id="md-capacidade"></span></p>
                <p><strong>Localização:</strong> <span id="md-localizacao"></span></p>
            </div>
            <h4>Sobre o Ambiente</h4>
            <p id="md-descricao"></p>

            <div class="modal-recursos">
                <h4>Recursos</h4>
                <ul id="md-recursos"></ul>
            </div>
                            
            </div>
            </div>

<script src="/static/Javascript/detalhes_ambientes.js"></script>