<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Agendamentos</title>
    <link rel="stylesheet" href="/static/Css/geral.css">
    <link rel="stylesheet" href="/static/Css/base.css">
     <link rel="stylesheet" href="../static/css/modal_notificacao.css">
     <link rel="stylesheet" href="/static/Css/historico.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  
</head>
<body>

<div id="dashboard" class="dashboard">

    <!-- Sidebar -->
    {% include 'base.html' %}

    <!-- Notificações -->
    {% include 'notificacao.html' %}
  
{%include 'config.html' %}
    <!-- Conteúdo Principal -->
    <main class="main-content">
           <div class="topbar">
            
            <div >
               
            </div>

            <div class="topbar-actions">
                  <button class="icon-button" onclick="modalConfig(event)">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>

                </button>
                <button class="icon-button" onclick="modal_notificacao()">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                        <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                    </svg>
                    <span id="badge-notificacao" class="badge-notificacao"></span>
                </button>
            </div>
        </div>

    <section class="section">
    <div class="section-header-historico">
        <h2>Histórico de Agendamentos</h2>
       
    </div>

    <table class="table-historico">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Horário</th>
                <th>Tipo</th>
                <th>Status</th>
                <th>Data</th>
               
            </tr>
        </thead>
        <tbody>
            {% for history in historico %}
            {% if history.user_id == id_logado %}
            <tr>
                <!-- Nome com Ícone -->
                <td>
                    <div class="td-nome">
                        <div class="icone-history">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                            </svg>
                        </div>
                        <div class="nome-info">
                            <h3>{{ history.name }}</h3>
                            <span>{{ history.purpose }}</span>
                        </div>
                    </div>
                </td>

                <!-- Horário -->
                <td class="td-horario">
                    {{ history.start_time }} - {{ history.end_time }}
                </td>

                <!-- Tipo -->
                <td>
                    <span class="tipo-badge">{{ history.type }}</span>
                </td>

              <td>
                                            {% if history.status == 'Concluido' %}
                                            <span class="status-badge approved">{{ history.status }}</span>
                                            {% elif history.status == 'Confirmado'  %}
                                            <span class="status-badge pending">{{ history.status }}</span>
                                            {% elif history.status == 'Cancelado' %}
                                            <span class="status-badge cancelled">{{ history.status }}</span>
                                            {% else %}
                                            <span class="status-badge active">{{ history.status }}</span>
                                            {% endif %}

                                             {%if history.status =='Confirmado'%}
                                             <button onclick="cancelarHistoricoEquip('{{ history.id }}')"> Cancelar</button>
                                         
                                             {%endif%}   
                                           </td>
                    

                <!-- Data -->
                <td class="td-data">
                    {{ history.historico_date }}
                </td>

                
            </tr>
            {% endif %}
            {% endfor %}

            {% for history in historico_equip %}
            {% if history.user_id == id_logado %}
            <tr>
                <!-- Nome com Ícone -->
                <td>
                    <div class="td-nome">
                        <div class="icone-history">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                                <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                            </svg>
                        </div>
                        <div class="nome-info">
                            <h3>{{ history.equipamento_nome }}</h3>
                            <span>{{ history.finalidade }}</span>
                        </div>
                    </div>
                </td>

                <!-- Horário -->
                <td class="td-horario">
                    {{ history.hora_inicio }} - {{ history.hora_fim }}
                </td>

                <!-- Tipo -->
                <td>
                    <span class="tipo-badge">Equipamentos</span>
                </td>

                <!-- Status -->
                                           <td>
                                            {% if history.status == 'Concluido' %}
                                            <span class="status-badge approved">{{ history.status }}</span>
                                            {% elif history.status == 'Confirmado'  %}
                                            <span class="status-badge pending">{{ history.status }}</span>
                                            {% elif history.status == 'Cancelado' %}
                                            <span class="status-badge cancelled">{{ history.status }}</span>
                                            {% else %}
                                            <span class="status-badge active">{{ history.status }}</span>
                                            {% endif %}

                                             {%if history.status =='Confirmado'%}
                                             <button onclick="cancelarHistoricoEquip('{{ history.id }}')"> Cancelar</button>
                                         
                                             {%endif%}   
                                           </td>
                    
                
              


                <!-- Data -->
                <td class="td-data">
                    {{ history.data_equip }}
                </td>

               
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</section>
    
             <script>
          function cancelarHistorico(id) {
  if (!id) {
    console.error("agendamento_id indefinido");
    return;
  }

  if (!confirm("Deseja cancelar este registro?")) return;

  fetch(`/historico/cancelar/${id}`, {
    method: "POST"
  })
  .then(res => {
    if (!res.ok) {
      throw new Error("Resposta inválida do servidor");
    }
    return res.json();
  })
  .then(data => {
    alert(data.mensagem);
    location.reload();
  })
  .catch(err => {
    console.error(err);
    alert("Erro ao cancelar o histórico");
  });
}

function cancelarHistoricoEquip(id){
    if (!confirm("Deseja cancelar este registro?")) return;
      fetch(`/historico_equipamentos/cancelar/${id}`, {
        method: "POST"
    })
    .then(res => res.json())
    .then(data => {
        alert(data.mensagem);
        location.reload();
    })
    .catch(err => {
        console.error(err);
        alert("Erro ao cancelar");
    });
}
             </script>          
                             </main>
                             </body>
                             </html>
       