<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/modal_notificacao.css">
 
</head>
<body>
    
   



<!-- MODAL -->
<div id="modal-notificacoes" class="modal-notificacao" style="display: none;">
  <div class="modal-notificacao-card">
    <div class="modal-notificacao-header">
      <h3>Notificações</h3>
      <button id="fechar-notificacao" onclick="fecharmodal()">&times;</button>
    </div>

    <div id="lista-notificacoes" class="modal-notificacao-body">
      <!-- notificações via JS -->
    </div>
  </div>
</div>



<script src="/static/Javascript/notificacao.js"></script>

</body>
</html>